@font-face {
    font-family: ProximaNovaCondensed;
    src: url('fonts/ProximaNovaCond-Regular.otf') format('otf');
}

@font-face {
    font-family: ProximaNovaCondensedBold;
    src: url('fonts/ProximaNovaCond-Bold.otf') format('otf');
}

body {
    margin: 0;
    font: 14px/1.57 Arial, sans-serif;
}

.input-main {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 38px;
    width: 100%;
    border: 1px solid #cbd1d4;
    padding: 11px;
}

.textarea-main {
    margin: 0 auto 10px;
    width: 100%;
    height: 200px;
    border: 1px solid #e1e1e1;
}

.textarea-main:focus
.input-main:focus {
    border-color: #0f8fee;
}

.textarea-main:hover,
.input-main:hover {
    border-color: #acb5ba;
}

.select-main {
    height: 38px;
    border: 1px solid #cbd1d4;
    font-size: inherit;
    color: #333;
    background-color: #f9f9f9;
    background-image: url('images/select.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 15px 0 0;
    -moz-appearance: none;
}

.select-main:hover {
    border-color: #acb5ba;
}

.button-main {
    padding: 0 15px;
    background-color: #0f8fee;
    border: 1px solid #0f8fee;
    height: 38px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.button-main:active {
    background-color: #0c72be;
}

.button-main:focus {
    background-color: #3da5f3;
}

.button-main:hover {
    background-color: #0e81d6;
}

.link-main {
    font-size: 13px;
    color: #08f;
    text-decoration: none;
}

.link-main_dimmed {
    color: #999;
}

.link-main_dimmed:hover {
    color: #09f;
}

.splitter {
    color: #999;
}

.wrapper {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
}

.header-logo-menu {
    height: 40px;
}

.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}

.header-control {
    display: flex;
}

.search-input {
    flex-grow: 1;
}

.search-button {
    margin-left: 5px;
}

.search-advanced {
    margin-left: 10px;
}

.work-in {
    margin-left: 50px;
}

.locale {
    margin-left: 20px;
}

.locale-switcher {
    background: url('images/rus.png') no-repeat 0 0;
    background-size: 100% 100%;
    border: 0;
    border-radius: 0;
    width: 16px;
    height: 12px;
    text-indent: -9999px;
}

.menu {
    display: flex;
}

.menu-wrapper {
    background: #333;
}

.menu-item {
    color: #fff;
    font: 15px/40px ProximaNovaCondensed, Arial, sans-serif;
    height: 40px;
    padding: 0 15px;
}

.menu-item:hover {
    background-color: red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main {
    margin: 0 auto;
}

.cover {
    margin: 0 auto 61px;
    height: 665px;
    font-size: 24px;
    font-family: ProximaNovaCondensed, Arial, sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.18;
    background: url('images/faces.png');
    background-size: cover;
}

.cover-title {
    font-size: 72px;
    margin: 0 auto 20px;
}

.cover-content {
    font-size: 13px;
    padding: 10%;
}

.cover-description {
    font-size: 18px;
    margin-bottom: 50px;
}

.activities {
    font-size: 12px;
}

.activity-views {
    background: url('images/eye.png') no-repeat 0 0;
    padding-left: 30px;
    margin-left: 30px;
}

.activity-replies {
    background: url('images/comment.png') no-repeat 0 0;
    padding-left: 30px;
    margin-left: 30px;
}

.recommendations {
    margin: 0 0 62px;
    padding: 10px;
    border: 1px solid #e1e1e1;
}

.recommendation-header {
    display: flex;
    margin: 0 auto 20px;
}

.recommendation-logo {
    height: 48px;
    width: 48px;
    margin-right: 20px;
}

.recommendation-title-wrapper {
    flex-grow: 1;
}

.recommendation-title {
    margin: 0 auto 5px;
    font-size: 48px;
}

.recommendation-description-item {
    margin: 0 auto 5px;
}

.employees {
    font-size: 18px;
}

.employee-name {
    margin: 0 0 5px;
    font-size: 36px;
}

.employee-position {
    margin: 0 0 15px;
}

.employee-photo {
    max-width: 100%;
}

.emoloyee-history {
    margin: 0 0 40px;
}

.feedback {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 0 auto 30px;
}

.comment-control-title {
    margin: 0 auto 10px;
    width: 100%;
    height: 34px;
    color: #333;
    border: 1px solid #e1e1e1;
}

.footer {
    padding: 25px 0;
    font-size: 11px;
    border-top: 1px solid #e1e1e1;
}

.footer-menu-wrapper {
    display: flex;
}

.footer-menu-items {
    flex-grow: 1;
}

.footer-menu-item {
    margin-right: 6px;
    padding-right: 6px;
    border-right: 0.5px solid #e2e2e2;
}

.footer-counters {
    color: #999;
}

.social-link {
    display: inline-block;
    background: url('images/footer-social__min_.svg') no-repeat;
    background-size: 127px 30px;
    width: 22px;
    height: 15px;
    text-indent: -9999px;
}

.social-link_vk {
    width: 18px;
}

.social-link_fb {
    background-position: -19px 0;
}

.social-link_ok {
    background-position: -42px 0;
}

.social-link_tw {
    background-position: -62px 0;
}

.social-link_ig {
    background-position: -111px 0;
}

.menu-small {
    display: none;
}

.column {
    box-sizing: border-box;
    padding: 0 15px;
}

.column_l-0 {
    display: none;
}
.column_l-1 {
    flex: 0 0 80px;
}
.column_l-2 {
    flex: 0 0 160px;
}
.column_l-3 {
    flex: 0 0 240px;
}
.column_l-4 {
    flex: 0 0 320px;
}
.column_l-5 {
    flex: 0 0 400px;
}
.column_l-6 {
    flex: 0 0 480px;
}
.column_l-7 {
    flex: 0 0 560px;
}
.column_l-8 {
    flex: 0 0 640px;
}
.column_l-9 {
    flex: 0 0 720px;
}
.column_l-10 {
    flex: 0 0 800px;
}
.column_l-11 {
    flex: 0 0 880px;
}
.column_l-12 {
    flex: 0 0 960px;
}
.column_l-13 {
    flex: 0 0 1040px;
}
.column_l-14 {
    flex: 0 0 1120px;
}
.column_l-15 {
    flex: 0 0 1200px;
}
.column_l-16 {
    flex: 0 0 1280px;
}

@media (max-width: 1340px) {
    .wrapper {
        width: 960px;
    }

    .social {
        white-space: nowrap;
    }

    .column_m-0 {
        display: none;
    }
    .column_m-1 {
        flex: 0 0 80px;
    }
    .column_m-2 {
        flex: 0 0 160px;
    }
    .column_m-3 {
        flex: 0 0 240px;
    }
    .column_m-4 {
        flex: 0 0 320px;
    }
    .column_m-5 {
        flex: 0 0 400px;
    }
    .column_m-6 {
        flex: 0 0 480px;
    }
    .column_m-7 {
        flex: 0 0 560px;
    }
    .column_m-8 {
        flex: 0 0 640px;
    }
    .column_m-9 {
        flex: 0 0 720px;
    }
    .column_m-10 {
        flex: 0 0 800px;
    }
    .column_m-11 {
        flex: 0 0 880px;
    }
    .column_m-12 {
        flex: 0 0 960px;
    }
}

@media (max-width: 1020px) {
    .wrapper {
        width: 640px;
    }

    .cover-title {
        font-size: 64px;
    }

    .employee-photo {
        vertical-align: top;
    }

    .header {
        flex-direction: column-reverse;
    }

    .header-control {
        align-self: flex-end;
    }

    .header-search {
        align-self: flex-start;
    }

    .column_s-0 {
        display: none;
    }
    .column_s-1 {
        flex: 0 0 80px;
    }
    .column_s-2 {
        flex: 0 0 160px;
    }
    .column_s-3 {
        flex: 0 0 240px;
    }
    .column_s-4 {
        flex: 0 0 320px;
    }
    .column_s-5 {
        flex: 0 0 400px;
    }
    .column_s-6 {
        flex: 0 0 480px;
    }
    .column_s-7 {
        flex: 0 0 560px;
    }
    .column_s-8 {
        flex: 0 0 640px;
    }

@media (max-width: 700px) {
    .wrapper {
        width: auto;
    }

    .column {
        display: block;
    }
    .column_xs-0 {
        display: none;
    }
    .column_xs-1 {
        flex: 0 0 25%;
    }
    .column_xs-2 {
        flex: 0 0 50%;
    }
    .column_xs-3 {
        flex: 0 0 75%;
    }
    .column_xs-4 {
        flex: 0 0 100%;
    }

    .cover-title {
        font-size: 48px;
        line-height: 1.11;
    }

    .header {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        padding: 4px 0;
        justify-content: space-between;
    }

    .cover-title {
        font-size: 48px;
    }

    .employee-name {
        font-size: 24px;
    }

    .employees {
        font-size: 14px;
    }

    .footer-menu {
        display: none;
    }
    
    .footer-counters {
        display: none;
    }
}
