@font-face {
    font-family: ProximaNovaCondensed;
    src: url('fonts/ProximaNovaCond-Regular.otf') format('otf');
}

@font-face {
    font-family: ProximaNovaCondensedBold;
    src: url('fonts/ProximaNovaCond-Bold.otf') format('otf');
}

body {
    margin: 0;
    font: 14px/1.57 Arial, sans-serif;
}

.input-main {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 38px;
    width: 100%;
    border: 1px solid #cbd1d4;
    padding: 11px;
}

.textarea-main {
    margin: 0 auto 10px;
    width: 100%;
    height: 200px;
    border: 1px solid #e1e1e1;
}

.textarea-main:focus
.input-main:focus {
    border-color: #0f8fee;
}

.textarea-main:hover,
.input-main:hover {
    border-color: #acb5ba;
}

.select-main {
    height: 38px;
    border: 1px solid #cbd1d4;
    font-size: inherit;
    color: #333;
    background-color: #f9f9f9;
    background-image: url('images/select.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 15px 0 0;
    -moz-appearance: none;
}

.select-main:hover {
    border-color: #acb5ba;
}

.button-main {
    padding: 0 15px;
    background-color: #0f8fee;
    border: 1px solid #0f8fee;
    height: 38px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.button-main:active {
    background-color: #0c72be;
}

.button-main:focus {
    background-color: #3da5f3;
}

.button-main:hover {
    background-color: #0e81d6;
}

.link-main {
    font-size: 13px;
    color: #08f;
    text-decoration: none;
}

.link-main_dimmed {
    color: #999;
}

.link-main_dimmed:hover {
    color: #09f;
}

.splitter {
    color: #999;
}

.wrapper {
    box-sizing: border-box;
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.header-logo {
    height: 50px;
    margin-right: 20px;
}

.search {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 15px 0;
}

.search-input {
    flex-grow: 1;
}

.search-button {
    margin-left: 5px;
}

.search-advanced {
    margin-left: 10px;
}

.work-in {
    margin-left: 50px;
}

.locale {
    margin-left: 20px;
}

.locale-switcher {
    background: url('images/rus.png') no-repeat 0 0;
    background-size: 100% 100%;
    border: 0;
    border-radius: 0;
    width: 16px;
    height: 12px;
    text-indent: -9999px;
}

.menu {
    display: flex;
    background: #333;
}

.menu-item {
    color: #fff;
    font: 15px/40px ProximaNovaCondensed, Arial, sans-serif;
    height: 40px;
    padding: 0 15px;
}

.menu-item:hover {
    background-color: red;
}

.row {
    display: flex;
    margin: 0 -15px;
}

.page-content {
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
}

.cover {
    margin: 0 auto 61px;
    height: 665px;
    font-size: 24px;
    font-family: ProximaNovaCondensed, Arial, sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.18;
    max-width: none;
    background: url('images/faces.png');
    background-size: cover;
}

.cover-title {
    font-size: 72px;
    margin: 0 auto 20px;
}

.cover-content {
    font-size: 13px;
    padding: 10%;
}

.cover-description {
    font-size: 18px;
    margin-bottom: 50px;
}

.activities {
    font-size: 12px;
}

.recommendations {
    margin: 0 0 62px;
    padding: 10px;
    border: 1px solid #e1e1e1;
}

.recommendation-header {
    display: flex;
    margin: 0 auto 20px;
}

.recommendation-logo {
    height: 48px;
    width: 48px;
    margin-right: 20px;
}

.recommendation-title-wrapper {
    flex-grow: 1;
}

.recommendation-title {
    margin: 0 auto 5px;
    font-size: 48px;
}

.recommendation-description-item {
    margin: 0 auto 5px;
}

.employees {
    font-size: 18px;
}

.employee-name {
    margin: 0 0 5px;
    font-size: 36px;
}

.employee-position {
    margin: 0 0 15px;
}

.employee-photo {
    height: 618px;
    max-width: 100%;
}

.emoloyee-history {
    margin: 0 0 40px;
}

.feedback {
    border: 1px solid #e1e1e1;
    margin: 0 auto 30px;
    padding: 10px;
}

.comment-control-title {
    margin: 0 auto 10px;
    width: 100%;
    height: 34px;
    color: #333;
    border: 1px solid #e1e1e1;
}

.column {
    box-sizing: border-box;
    padding: 0 15px;
}

.column_1 {flex: 0 0 80px;}
.column_2 {flex: 0 0 160px;}
.column_3 {flex: 0 0 240px;}
.column_4 {flex: 0 0 320px;}
.column_5 {flex: 0 0 400px;}
.column_6 {flex: 0 0 480px;}
.column_7 {flex: 0 0 560px;}
.column_8 {flex: 0 0 640px;}
.column_9 {flex: 0 0 720px;}
.column_10 {flex: 0 0 800px;}
.column_11 {flex: 0 0 880px;}
.column_12 {flex: 0 0 960px;}
.column_13 {flex: 0 0 1040px;}
.column_14 {flex: 0 0 1120px;}
.column_15 {flex: 0 0 1200px;}
.column_16 {flex: 0 0 1280px;}

