@font-face {
    font-family: ProximaNovaCondensed;
    src: url('fonts/ProximaNovaCond-Regular.otf') format('otf');
}

@font-face {
    font-family: ProximaNovaCondensedBold;
    src: url('fonts/ProximaNovaCond-Bold.otf') format('otf');
}

body {
    box-sizing: box-border;
}

.button-main {
    padding: 0 15px;
    background-color: #0f8fee;
    border: 1px solid #0f8fee;
    height: 38px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.button-main:active {
    background-color: #0c72be;
}

.button-main:focus {
    background-color: #3da5f3;
}

.button-main:hover {
    background-color: #0e81d6;
}

.link-main {
    font-size: 13px;
    color: #08f;
    text-decoration: none;
}

.link-main_dimmed {
    color: #999;
}

.link-main_dimmed:hover {
    color: #09f;
}

.splitter {
    color: #999;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.57;
}

.header {
    padding: 10px;
    color: #1e1e1e;
}

.search {
    font-size: 14px;
}

.search-name {
    margin: auto 0;
    padding-left: 15px;
    height: 34px;
    border: 1px solid #cbd1d4;
    font-size: inherit;
    color: #333;
    width: 100%;
}

.search-name:focus {
    border-color: #0f8fee;
}

.search-type {
    margin: auto 0;
    height: 38px;
    border: 1px solid #cbd1d4;
    font-size: inherit;
    color: #333;
    background-color: #f9f9f9;
    background-image: url('images/select.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0 15px 0 0;
    -moz-appearance: none;
}

.search-type:hover {
    border-color: #acb5ba;
}

.menu {
    background: #333;
    padding-left: 100px;
}

.menu-item {
    display: inline-block;
    color: #fff;
    margin: 10px;
}

.main {
    width: 931px;
    margin: 0 auto;
}

.page-content {
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
}


.cover {
    margin: 0 auto 61px;
    height: 665px;
    font-size: 24px;
    font-family: ProximaNovaCondensed, Arial, sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.18;
    background: url('images/faces.jpg');
    background-size: cover;
}

.cover-title {
    font-size: 72px;
    margin: 0 auto 20px;
}

.cover-content {
    font-size: 13px;
    padding: 10%;
}

.cover-description {
    font-size: 18px;
    margin-bottom: 50px;
}

.activities {
    font-size: 12px;
}

.recommendations {
    padding: 10px;
    margin: 0 auto 62px;
    border: 1px solid #e1e1e1;
}

.recommendation-header {
    margin: 0 auto 20px;
}

.recommendation-title {
    margin: 0 auto 5px;
    font-size: 48px;
}

.recommendation-description-item {
    margin: 0 auto 5px;
}

.employee {
    margin: 0 0 40px 0;
    width: 770px;
    font-size: 18px;
}

.employee-name {
    margin: 0 0 5px;
    font-size: 36px;
}

.employee-position {
    margin: 0 0 15px;
}

.employee-photo {
    margin: 0 0 15px;
}

.emoloyee-history {
    margin: 0 0 15px;
}

.feedback {
    border: 1px solid #e1e1e1;
    margin: 0 auto 30px;
    padding: 10px;
    width: 931px;
}

.comment-control {
    font-size: 16px;
}

.comment-control-title {
    margin: 0 auto 10px;
    width: 100%;
    height: 34px;
    color: #333;
    font-size: inherit;
    border: 1px solid #e1e1e1;
}

.comment-control-body {
    margin: 0 auto 10px;
    width: 100%;
    height: 200px;
    font-size: inherit;
    border: 1px solid #e1e1e1;
}
